

body {
    padding: 20px;
    text-align: center;
    background: linear-gradient(orange, white);
}

#page {
    width: 1100px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 10px 10px 5px 5px #888888;
    border-radius: 20px 20px 20px 20px;

}

header {
    font-family: 'Luckiest Guy';
    line-height: 1.4em;
    color: white;
    font-size: 1.1em;
    border-bottom: 6px solid black;
    background-image: linear-gradient(rgb(17, 108, 160), rgb(104, 170, 170));
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    /* Centra verticalmente */
}

header h1 {
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
    position: relative;
}

header h1 img {
    position: absolute;
    top: 10%;
    left: 2%;
    margin-left: 2.5%;
    animation: rotar infinite 3s linear;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

nav {
    font-family: 'Luckiest Guy';
    text-align: center;
    background-image: linear-gradient(rgb(240, 216, 5), rgb(218, 208, 120));
    font-size: 1.4em;
    padding: 5px;
}

nav ul {
    padding: 0;
}

nav li {
    padding: 80px 100px 20px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    position: relative;
    /* Importante para que el submenú se alinee con su posición */
}

#menu {
    display: none;
    /* Oculta por defecto */
}
nav li#contenido {
    background-image: url("../img/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav li#videos {
    background-image: url("../img/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav li#contacto {
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px white;
    transition: all 0.5s;
    text-shadow: 2px 2px 5px #f06529;
}

nav a:hover {
    color: rgb(190, 186, 186);
    text-shadow: 0px 0px 5px #ff7e42;
}

/* Submenú oculto por defecto */
nav ul li#videos ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* Posiciona el submenú respecto al elemento padre */
    top: 100%;
    /* Coloca el submenú justo debajo del elemento padre */
    left: 90px;
    /* Alinea a la izquierda */
    max-height: 0;
    /* Inicialmente oculta el submenú */
    overflow: hidden;
    /* Oculta el contenido excedente */
    transition: max-height 0.3s ease;
    /* Transición suave para la expansión del submenú */
    z-index: 5;
}

/* Al hacer hover en #videos, el submenú se muestra */
nav ul li#videos:hover ul {
    max-height: 200px;
    /* Aumenta la altura máxima para mostrar el submenú */
}

/* Estilo de los elementos del submenú */
nav ul li#videos ul li {
    padding: 10px;
    background-color: #e34c26;
    font-size: 0.8em;
    /* Ajusta el tamaño de la fuente aquí */
}

nav ul li#videos ul li:nth-child(even) {
    background-color: #f06529;
}

nav ul li#videos ul li:hover {
    background-color: #ff7e42;
}

/* Triángulo en el submenú */
nav ul li#videos:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f06529;
    /* Color del triángulo */
    left: 50%;
    /* Centrar horizontalmente */
    top: 118px;
    /* Ajusta la posición vertical para que esté encima del submenú */
    transform: translateX(-50%);
    /* Centra el triángulo horizontalmente */
    z-index: 10;
    /* Asegúrate de que este valor sea mayor que el del submenú */
    visibility: hidden;
    /* Oculto por defecto */
    opacity: 0;
    /* Oculto por defecto */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Transición suave */
}

/* Mostrar triángulo junto con el submenú */
nav ul li#videos:hover:before {
    visibility: visible;
    /* Muestra el triángulo al hacer hover */
    opacity: 1;
    /* Hace visible el triángulo al hacer hover */
}

main {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    background-color: white;
    padding: 5px;
}

section {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    display: inline-block;
    flex-wrap: wrap;
    border-width: 60px 23px 50px 23px;
    border-style: solid;
    border-image: url('../img/movil.png');
    border-image-slice: 70 25 70 25;
    position: relative;
    font-family: 'Abel';
}

section:first-of-type {
    transform: rotate(-3deg);
}

section:last-of-type {
    transform: rotate(3deg);
}

.chincheta {
    width: 38px;
    height: 49px;
    position: absolute;
    top: -79px;
    background-image: url('../img/chincheta.png');
    background-repeat: no-repeat;
}


#primera {
    left: 0px;
}

#chincheta1 {

    left: 0px;
    animation: mueveChincheta1 1s forwards;
}

@keyframes mueveChincheta1 {
    0% {
        left: 0px;
    }

    100% {
        left: 208px;
    }
}

#segunda {
    left: 0px;
}

#chincheta2 {
    left: 0px;
    animation: mueveChincheta2 1s forwards 0.5s;

}

@keyframes mueveChincheta2 {
    0% {
        left: 0px;
    }

    100% {
        left: 120px;
    }
}

#tercera {
    left: 0px;
}

#chincheta3 {
    left: 0px;
    animation: mueveChincheta3 1s forwards;
}

@keyframes mueveChincheta3 {
    0% {
        left: 0px;
    }

    100% {
        left: 35px;
    }
}

#seccion1 {
    transform: rotate(0deg);
}

#section1 {
    animation: animSection1 0.5s forwards;
}

@keyframes animSection1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

#seccion3 {
    transform: rotate(0deg);
}

#section3 {
    animation: animSection3 0.5s forwards;
}

@keyframes animSection3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(2deg);
    }
}

article #javascript {
    background: radial-gradient(rgb(247, 230, 85), rgb(252, 252, 252));
}

h2 {
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 5px 5px 5px rgb(104, 104, 104);
}

footer {
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-image: linear-gradient(rgb(104, 170, 170), rgb(17, 108, 160));
    border-top: 6px solid black;
    padding: 15px 0;
    border-radius: 0px 0px 20px 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1156px) {

    #page {
        width: 90%;
        min-width: 320px;
    }

    header {
        font-size: 0.7em;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex; 
        justify-content: space-around;
        flex-wrap: wrap; 

}

@media (max-width: 838px) {
    li {
        margin: 0% 1% 4% 1%;
    }

    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    h1 {
        font-size: 1.5em;
    }
    
    #menu {
        display: block;
        cursor: pointer;
        /* Opcional: para indicar que es un botón clickeable */
        margin: 80px;
    }

    nav ul {
        display: none;
        /* Oculta el menú por defecto */
    }

    nav ul.desplegado {
        display: block;
        /* Muestra el menú cuando tiene la clase 'active' */
    }

    nav li {

        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: default;
        position: relative;
        /* Importante para que el submenú se alinee con su posición */
        margin: 0% 1% 4% 1%;

    }
    
}

@media (max-width: 475px) {

    li {
        margin: 0;
    }

}