body {
    padding: 20px;
    text-align: center;
    background: linear-gradient(orange, white);

}

#page {
    width: 1080px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 10px 10px 5px 5px #888888;
    border-radius: 20px 20px 20px 20px;

}

header {
    font-family: "Courier";
    color: white;
    font-size: 1.1em;
    border-bottom: 6px solid black;
    background-image: linear-gradient(rgb(17, 108, 160), rgb(104, 170, 170));
    border-radius: 20px 20px 0px 0px;

}

header h1 {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("../img/red015.jpg");
    font-size: 1.4em;
    background-image: linear-gradient(rgb(240, 216, 5), rgb(218, 208, 120));
    padding: 5px;
}

nav ul {
    padding: 0;
}

nav li {
    padding: 80px 100px 20px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

nav li#contenido {
    background-image: url("../img/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav li#videos {
    background-image: url("../img/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav li#contacto {
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: orange;
}

main {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    background-color: white;
    padding: 5px;
}

section {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    display: inline-block;
    flex-wrap: wrap; 
    border-width: 50px 20px 50px 20px;
    border-style: solid;
    border-image: url('../img/movil.png');    
    border-image-slice: 70 20 60 20;

}

article #javascript {
    background: radial-gradient(rgb(247, 230, 85), rgb(252, 252, 252));
}

h2 {

    font-family: 'Lato';
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 5px 5px 5px rgb(104, 104, 104);
}

footer {
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-image: linear-gradient(rgb(104, 170, 170), rgb(17, 108, 160));
    border-top: 6px solid black;
    padding: 15px 0;
    border-radius: 0px 0px 20px 20px;
}

footer a {
    color: white;
    text-decoration: none;
}