@media all and (max-width: 800px) {
    article {
        display: block !important;
        width: auto !important;
    }
}

article {
    display: inline-block;
height:300px;
width: 300px;
border:1px solid #333;
background: #999;
margin:20px;
}