/* Estilo general para el body */
body {
    display: grid; /* Utiliza un layout de cuadrícula */
    place-items: center; /* Centra el contenido tanto horizontal como verticalmente */
    height: 100vh; /* Altura del 100% de la ventana del navegador */
    margin: 0; /* Elimina los márgenes predeterminados del body */
}

/* Estilo para la tabla */
table {
    text-align: center; /* Alinea el texto al centro en la tabla */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    font-family: Arial; /* Define la fuente de la tabla */
}

/* Estilo para las celdas de la tabla (th y td) */
th, td {
    border: 1px solid #333; /* Bordes de 1px sólido de color gris oscuro */
    padding: 5px; /* Espacio interno de 5px dentro de las celdas */
}

/* Estilo para los encabezados de la tabla */
th {
    background-image: url("../img/fondo_gris.gif"); /* Fondo con imagen para el encabezado */
}

/* Estilo para las celdas con la clase .moneda */
.moneda {
    background-color: #E6F3FF; /* Color de fondo azul claro */
}

/* Estilo para filas de la tabla con número par */
tr:nth-child(even) {
    background-color: #FFFFCC; /* Color de fondo amarillo claro para filas pares */
}

/* Estilo para las filas con la clase .seleccion al pasar el ratón */
.seleccion:hover {
    background-color: #FFFF66; /* Color de fondo amarillo más intenso al pasar el ratón */
}
